@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <ul class="bxslider">
        <li><img src="https://placehold.it/900x350" class="image-responsive" /></li>
        <li><img src="https://placehold.it/900x350" class="image-responsive" /></li>
        <li><img src="https://placehold.it/900x350" class="image-responsive" /></li>
        <li><img src="https://placehold.it/900x350" class="image-responsive" /></li>
    </ul>
    <div class="box">
        <div class="title">
            <h3>@(AnhPhatMVC.Resources.Main.THUONGHIEU)</h3>
        </div>
        <div class="detail">
            <ul class="partner">
                <li><a href="#"><img src="https://placehold.it/150x80" class="image-responsive" /></a></li>
                <li><img src="https://placehold.it/150x80" class="image-responsive" /></li>
                <li><img src="https://placehold.it/150x80" class="image-responsive" /></li>
                <li><img src="https://placehold.it/150x80" class="image-responsive" /></li>
                <li><img src="https://placehold.it/150x80" class="image-responsive" /></li>
                <li><img src="https://placehold.it/150x80" class="image-responsive" /></li>
                <li><img src="https://placehold.it/150x80" class="image-responsive" /></li>
                <li><img src="https://placehold.it/150x80" class="image-responsive" /></li>
            </ul>
        </div>
    </div>
    <div class="box product-hot">
        <div class="title">
            <h3>@(AnhPhatMVC.Resources.Main.SANPHAMNOIBAT)</h3>
        </div>
        <div class="detail">
            <div class="row">
                <div class="col-md-4 text-center col-sm-4 product-box">
                    <div class="row">
                        <a href="#" class="item col-md-12"><img src="https://placehold.it/450x300" class="image-responsive" /></a>
                        <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                        <div class="col-md-6 text-left category-name">
                            Máy lọc nước
                        </div>
                        <div class="col-md-6 text-right read-more">
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center col-sm-4 product-box">
                    <div class="row">
                        <a href="#" class="item col-md-12"><img src="https://placehold.it/450x300" class="image-responsive" /></a>
                        <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                        <div class="col-md-6 text-left category-name">
                            Máy lọc nước
                        </div>
                        <div class="col-md-6 text-right read-more">
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center col-sm-4 product-box">
                    <div class="row">
                        <a href="#" class="item col-md-12"><img src="https://placehold.it/450x300" class="image-responsive" /></a>
                        <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                        <div class="col-md-6 text-left category-name">
                            Máy lọc nước
                        </div>
                        <div class="col-md-6 text-right read-more">
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center col-sm-4 product-box">
                    <div class="row">
                        <a href="#" class="item col-md-12"><img src="https://placehold.it/450x300" class="image-responsive" /></a>
                        <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                        <div class="col-md-6 text-left category-name">
                            Máy lọc nước
                        </div>
                        <div class="col-md-6 text-right read-more">
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center col-sm-4 product-box">
                    <div class="row">
                        <a href="#" class="item col-md-12"><img src="https://placehold.it/450x300" class="image-responsive" /></a>
                        <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                        <div class="col-md-6 text-left category-name">
                            Máy lọc nước
                        </div>
                        <div class="col-md-6 text-right read-more">
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center col-sm-4 product-box">
                    <div class="row">
                        <a href="#" class="item col-md-12"><img src="https://placehold.it/450x300" class="image-responsive" /></a>
                        <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                        <div class="col-md-6 text-left category-name">
                            Máy lọc nước
                        </div>
                        <div class="col-md-6 text-right read-more">
                            <a href="#">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="box service">
        <div class="title">
            <h3>@(AnhPhatMVC.Resources.Main.DICHVU)</h3>
        </div>
        <div class="detail row">
            <div class="item col-md-4">
                <!--<a href="#">-->
                <div class="row">
                    <div class="col-md-5 image-intro text-right col-xs-5">
                        <img src="https://placehold.it/150x150" class="image-responsive">
                    </div>
                    <div class="col-md-7 description  col-xs-7">
                        <h3>TƯ VẤN & HỖ TRỢ</h3>
                        <p>Máy lọc nước</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--</a>-->
            </div>
            <div class="item col-md-4">
                <!--<a href="#">-->
                <div class="row">
                    <div class="col-md-5 image-intro text-right col-xs-5">
                        <img src="https://placehold.it/150x150" class="image-responsive">
                    </div>
                    <div class="col-md-7 description  col-xs-7">
                        <h3>TƯ VẤN & HỖ TRỢ</h3>
                        <p>Máy lọc nước</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <!--</a>-->
            </div>
            <div class="item col-md-4">
                <!--<a href="#">-->
                <div class="row">
                    <div class="col-md-5 image-intro text-right col-xs-5">
                        <img src="https://placehold.it/150x150" class="image-responsive">
                    </div>
                    <div class="col-md-7 description  col-xs-7">
                        <h3>TƯ VẤN & HỖ TRỢ</h3>
                        <p>Máy lọc nước</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--</a>-->
            </div>
        </div>
    </div>
    <div class="box news">
        <div class="title">
            <h3>@(AnhPhatMVC.Resources.Main.TINTUC)</h3>
        </div>
        <div class="detail">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <a href="#" class="item col-md-12 col-xs-12">
                            <img src="https://placehold.it/450x300" class="image-responsive" />
                        </a>
                        <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                        <div class="col-md-12 text-left info">
                            Máy lọc nước Karofi tuy mới vào thị trường nhưng Karofi đã khẳng định được thương hiệu cũng như làm nổi bật nên những thành tựu đã đạt được trong nhưng năm vừa qua
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <!--<div class="row">-->
                    <div class="news-right-item row">
                        <a href="#" class="item col-md-4 col-xs-12">
                            <img src="https://placehold.it/450x300" class="image-responsive" />
                        </a>
                        <div class="description col-md-8">
                            <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                            <div class="col-md-12 text-left info">
                                Máy lọc nước Karofi tuy mới vào thị trường nhưng Karofi đã khẳng định được thương hiệu
                            </div>
                        </div>
                    </div>
                    <div class="news-right-item row">
                        <a href="#" class="item col-md-4 col-xs-12">
                            <img src="https://placehold.it/450x300" class="image-responsive" />
                        </a>
                        <div class="description col-md-8">
                            <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                            <div class="col-md-12 text-left info">
                                Máy lọc nước Karofi tuy mới vào thị trường nhưng Karofi đã khẳng định được thương hiệu
                            </div>
                        </div>
                    </div>
                    <div class="news-right-item row">
                        <a href="#" class="item col-md-4 col-xs-12">
                            <img src="https://placehold.it/450x300" class="image-responsive" />
                        </a>
                        <div class="description col-md-8">
                            <h3 class="col-md-12 text-left"><a href="#">Máy lọc nước jdjd</a></h3>
                            <div class="col-md-12 text-left info">
                                Máy lọc nước Karofi tuy mới vào thị trường nhưng Karofi đã khẳng định được thương hiệu
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>