@model AnhPhatMVC.Context.config

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liên hệ</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>
</div>
<p>
   
</p>
